@CHARSET "UTF-8";

body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-color: #C0DEED;
	font-family: arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #292f33;
	overflow-y: scroll;
	background-image:
		url("https://abs.twimg.com/images/themes/theme1/bg.png");
	background-position: left 40px;
	background-attachment: fixed;
}

#title{
	text-align: center;
	width: 500px;
	/*border: 1px solid pink;*/
	margin: 0 auto;
}

.container {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	//border: 1px solid pink;
}

.CARD {
	margin: 3px;
	border: 1px solid black;
	width: 100px;
	height: 100px;
	float: left;
	text-align: center;
	vertical-align: middle;
	height: 100px;
	float: left;
	text-align: center;
	float: left;
	border-radius: 7px;
	overflow: hidden;
}